:host {
	position: absolute;
	z-index: 1800000;
	top: -110px;
	left: 39px;

	&.confirm-left {
		left: -176px;

		.confirm {

			&::after {
				left: 223px;
			}
		}
	}
}

.confirm {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 104px;
	width: 240px;
	padding: 16px;
	background: #383838;
	border-radius: 2px;
	cursor: default;

	&::after {
			content: "";
			position: absolute;
			left: 8px;
			bottom: -5px;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid #383838;
			clear: both;
	}

	&__text {
		color: #fff;
		font-size: 14px;
		letter-spacing: 0.2px;
		line-height: 20px;
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: -4px;
		margin-right: -8px;
	}
}