<div class="modal-header">
	<h4 class="modal-title pull-left">Projects Order</h4>
	<button class="icon icon--close icon--dynamic" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
	<div class="projects-reorder-list">
		<smooth-dnd-container [groupName]="'project'"
													(drop)="onTaskDrop($event)"
													[getChildPayload]="getTaskDragData()"
													[animationDuration]="300">
			<smooth-dnd-draggable *ngFor="let project of sortedProjects; let i = index">
				<div class="projects-reorder-list__project" [class.projects-reorder-list__project--active]="project?._id === activeProject"
							[id]="project?._id">
					<div class="projects-reorder-list__project__info-side">
						<div class="projects-reorder-list__project__image-section">
							<img  src="{{ project?.cover }}"
										alt="Project Image"
										class="projects-reorder-list__project__avatar"
										*ngIf="project?.cover">
							<span class="projects-reorder-list__project__avatar projects-reorder-list__project__avatar--generated"
										[ngStyle]="{'background-color': project?.color }"
										*ngIf="!project?.cover">
								{{ project?.generatedName }}
							</span>
						</div>
						<div class="projects-reorder-list__project__info">
							<div class="projects-reorder-list__project__name">{{ project?.name }}</div>
							<div class="projects-reorder-list__project__description">{{ project?.description }}</div>
						</div>
					</div>
					<div class="projects-reorder-list__project__action-side">
						<span class="icon icon--drag"></span>
					</div>
				</div>
			</smooth-dnd-draggable>
		</smooth-dnd-container>
	</div>
</div>
<div class="modal-footer">
	<button class="button button--medium button--ghost mr--8" (click)="closeModal()">Cancel</button>
	<button class="button button--medium button--contained" (click)="save()">
		save
	</button>
</div>
