.avatar > img {
  height: 24px;
  width: 24px;
}
.assignee {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  &__add {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    &__list {
      position: absolute;
      top: 34px;
      left: 0;
      width: 240px;
      max-width: 240px;
      box-shadow: 0 2px 6px 0 rgb(31, 31, 31);
      background-color: #2b2b2b;
      z-index: 2;

      &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 8px 16px;

        cursor: pointer;

        &:hover {
          background-color: rgba(#7e7e7e, 0.15);
        }
      }
    }
  }
}

.scroll {
  max-height: 250px;
  overflow:auto;
}

.item-disabled {
  user-select: none;
  pointer-events: none;
  cursor: not-allowed;
}

.chip__text {
  cursor: default;
}