.modal-create-label {
  &__header {
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 16px 24px;
    border-bottom: 1px solid rgb(69, 69, 69);
  }

  &__title {
    line-height: 24px;
  }

  &__close {
    cursor: pointer;
  }

  &__column {
    outline: none;
  }
  &__body {
    padding: 24px 24px 8px 24px;
    border-bottom: 1px solid rgb(69, 69, 69);
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  &__label {
    color: rgb(126, 126, 126);
    font-weight: normal;
    letter-spacing: 0.3px;
  }

  &__list-colors {
    display: grid;
    grid-template-columns: repeat(11, 24px);
    justify-content: space-between;
  }

  &__color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 25px;
    border-radius: 50%;
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
    outline: none;

    &::before {
      font-size: 18px;
      color: #1f1f1f;
    }
  }
}

.bg-fire {
  background-color: #e96058;

  &-chip {
    border: solid 1px #e96058;
    color: #e96058;

    &--close {

      &:before {
        color: #e96058;
      }
    }
  }
}

.bg-orange {
  background-color: #ed9438;

  &-chip {
    border: solid 1px #ed9438;
    color: #ed9438;

    &--close {

      &:before {
        color: #ed9438;
      }
    }
  }
}

.bg-banana {
  background-color: #f5ba06;

  &-chip {
    border: solid 1px #f5ba06;
    color: #f5ba06;

    &--close {

      &:before {
        color: #f5ba06;
      }
    }
  }
}

.bg-olive {
  background-color: #b1c82f;

  &-chip {
    border: solid 1px #b1c82f;
    color: #b1c82f;

    &--close {

      &:before {
        color: #b1c82f;
      }
    }
  }
}

.bg-frog {
  background-color: #67b231;

  &-chip {
    border: solid 1px #67b231;
    color: #67b231;

    &--close {

      &:before {
        color: #67b231;
      }
    }
  }
}
.bg-arctic {
  background-color: #1ac0c9;

  &-chip {
    border: solid 1px #1ac0c9;
    color: #1ac0c9;

    &--close {

      &:before {
        color: #1ac0c9;
      }
    }
  }
}
.bg-sky {
  background-color: #589be9;

  &-chip {
    border: solid 1px #589be9;
    color: #589be9;


    &--close {

      &:before {
        color: #589be9;
      }
    }
  }
}
.bg-iris {
  background-color: #6278c4;

  &-chip {
    border: solid 1px #6278c4;
    color: #6278c4;

    &--close {

      &:before {
        color: #6278c4;
      }
    }
  }
}
.bg-violet {
  background-color: #8c58e9;

  &-chip {
    border: solid 1px #8c58e9;
    color: #8c58e9;

    &--close {

      &:before {
        color: #8c58e9;
      }
    }
  }
}
.bg-purple {
  background-color: #ca58e9;

  &-chip {
    border: solid 1px #ca58e9;
    color: #ca58e9;

    &--close {

      &:before {
      color: #ca58e9;
    }
    }
  }
}
.bg-lavender {
  background-color: #f39aba;

  &-chip {
    border: solid 1px #f39aba;
    color: #f39aba;

    &--close {

      &:before {
      color: #f39aba;
    }
    }
  }
}
