// start new actual variables color //

// start primary colors //

$white: #fff;
$primary-gold-dt: #DCBC65;
$base-black: #1A1A1A;
$coal-gray: #1F1F1F;
$mineshaft-gray: #2B2B2B;
$lightcoal-gray: #383838;
$tundora-gray: #454545;
$base-gray: #7E7E7E;

// end primary colors //

// start additional colors //

$base-red: #E96058;
$base-orange: #ED9438;
$base-yellow: #F5BA06;
$salad-green: #B1C82F;
$base-green: #67B231;
$aqua-blue: #1AC0C9;
$base-blue: #589BE9;
$blue-jeans: #6278C4;
$base-purple: #8C58E9;
$base-violet: #CA58E9;
$peach-pink: #F39ABA;

// end additional colors //

// end new actual variables color //

// start shadow variables //

$small-elevation-dt: 0px 2px 6px 0px rgba(31,31,31,1);
$big-elevation-dt: 0px 4px 12px 0px rgba(31,31,31,1);

// end shadow variables //

// start variables for spacings //

$sp0: 0;
$sp4: 4px;
$sp8: 8px;
$sp16: 16px;
$sp24: 24px;
$sp32: 32px;
$sp48: 48px;
$sp56: 56px;
$sp64: 64px;
$sp96: 96px;
$sp128: 128px;

// end variables for spacings //
